[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Final project for ECSE 437 by Nick Triantos and Tahseen Bin Taj
[access "refs/*"]
	owner = group user/Nick Triantos (triantosnick1122)
	owner = group user/TBT (tahseenbt)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nick Triantos (triantosnick1122)
	label-Code-Review = -2..+2 group user/TBT (tahseenbt)
	label-Verified = -1..+1 group user/Nick Triantos (triantosnick1122)
	label-Verified = -1..+1 group user/TBT (tahseenbt)
	push = group user/Nick Triantos (triantosnick1122)
	push = group user/TBT (tahseenbt)
	read = group user/Nick Triantos (triantosnick1122)
	read = group user/TBT (tahseenbt)
	rebase = group user/Nick Triantos (triantosnick1122)
	rebase = group user/TBT (tahseenbt)
	removeReviewer = group user/Nick Triantos (triantosnick1122)
	removeReviewer = group user/TBT (tahseenbt)
	submit = group user/Nick Triantos (triantosnick1122)
	submit = group user/TBT (tahseenbt)
[access "refs/heads/*"]
	create = group user/Nick Triantos (triantosnick1122)
	create = group user/TBT (tahseenbt)
	push = group user/Nick Triantos (triantosnick1122)
	push = +force group user/TBT (tahseenbt)
	pushMerge = group user/Nick Triantos (triantosnick1122)
	pushMerge = group user/TBT (tahseenbt)
	read = group user/Nick Triantos (triantosnick1122)
	read = group user/TBT (tahseenbt)
[access "refs/tags/*"]
	push = group user/Nick Triantos (triantosnick1122)
	push = group user/TBT (tahseenbt)
	push = +force group user/TBT (tahseenbt)
